.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Home-background {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("../Assets/foodBackground.png");
}
.landing-page-slogan {
  padding-top: 25vh;
  /*margin-left: -30vw;*/
  color: var(--primary);
  font-size:xx-large ;
  font-style: italic !important;
  justify-content: center;
}
.landing-page-slogan h1 {
  font-size: 65px !important;
  font-style: italic !important;
  font-weight: bold;
  margin: auto;
}
.landing-page-slogan h3 {
  font-size: 30px !important;
  font-style: italic !important;
  font-weight: bold;
  margin: auto;
}
.landing-page-slogan h5 {
  font-size: 30px !important;
  font-style: italic !important;
  font-weight: bold;
  margin: auto;
}
.map-container {
  width: 80vw;
  height: 60vh;
  border-radius: 25px;
  margin: auto;
  box-shadow: 1px 1px 20px #FDFAF5;
}
.map-container-container {
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  display:flex;
  background-color: var(--primary);
}
.wrapper-ting {
  width:fit-content;
  justify-content: center;
  margin: auto;
}
.landing-page-slogan h3 {
  margin-bottom:200px;
  background-color: #FDFAF5;
  box-shadow: 1px 1px 65px #FDFAF5;
}
.landing-page-slogan h1 {
  background-color: #FDFAF5;
  box-shadow: 1px 1px 65px #FDFAF5;
  ;

}
.landing-page-slogan h5 {
  background-color: #FDFAF5;
  box-shadow: 1px 1px 65px #FDFAF5;
  width: fit-content;
  margin:auto
}
.custom-marker-cluster {
  background-color: var(--primary);
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px var(--primary);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
