/* .navbar {
    background-color: pink;
    width: 100vw;
    height: 100px;
  } */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .appheadernav {
    min-height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position:fixed;
  }
  ul {
    list-style: none;
  }

  li {
    
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
    background-color: red;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    float: left;
    margin-left: 30px;
  }
  
  
  /* ul  */
  .navMenu {
    background-color:bisque;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px){
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: aliceblue;
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
    .appheadernav {
      min-height: 12vh;
      display: flex;
      align-items: center;
      justify-content:flex-end;
      font-size: calc(10px + 2vmin);
      color: white;
      padding: 0px 6vh;
    }
    .navbar {
      padding: 10px 20px;
      display:flex;
      align-items:center;
      min-height: 70px;
      padding-right: 60px;
      margin-right: 60px;
    }
  }