/* .navbar {
    background-color: pink;
    width: 100vw;
    height: 100px;
  } */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .appheadernav {
    min-height: 12vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position:fixed;
  }
  .appheadernav:span {
    min-height: 12vh;
    width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;
    position:fixed;
    float: left;
  }

  ul {
    list-style: none;
  }

  li {
    
  }
  
  a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
    border: 1;
    color: var(--secondary);
    border-color: var(--secondary);
    border-width: 2px;
  }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    float: left;
    margin-left: 30px;
  }
  
  
  /* ul  */
  .navMenu {
    background-color: var(--primary);
    border-radius: 100px;
    /*box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;*/
    color: var(--secondary);
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    border: 1;
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
  }

.homebuttonnav {
  background-color: var(--primary);
  border-radius: 100px;
  /*box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;*/
  color: var(--secondary);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 1;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-color: var(--secondary);
  border-width: 2px;
}

.homebuttonNav:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
  /* media queries */
  
  @media screen and (max-width: 780px){
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      float: inline-end;
      padding-right: 6vh;
    }
  
    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: aliceblue;
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
    .appheadernav {
      min-height: 12vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content:flex-end;
      font-size: calc(10px + 2vmin);
      color: white;
      gap:20vw;
    }
    .navbar {
      padding: 10px 20px;
      display:flex;
      align-items:center;
      min-height: 70px;
      padding-right: 60px;
      margin-right: 60px;
    }
  }