:root {
  --primary: #0c5116;
  --secondary: #ffffff;
  --tertiary: #1aad2f;
  --bs-border-color:var(--primary);
  --bs-border-width: 2px;
  --bs-border-radius:8px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerStyle {
  background-color: blue;
}
